# Module 2 - Python Data Structures

## Lists and Tuples

### Tuples

Tuples are an ordered sequence written as comma-separated elements within parenthesis.

In [1]:
ratings = (10, 9, 5, 6, 10, 8, 9, 6, 2)

In [2]:
ratings[0]

10

In [3]:
ratings[-1]

2

We can concatenate or combinate tuples by adding them.

In [4]:
ratings[0:3]

(10, 9, 5)

In [9]:
ratings[7:9]

(6, 2)

In [10]:
len(ratings)

9

Tuples are immmutable.

A tuple can contain other tuples as well as other complex data types; this is called nesting.

### Lists

Lists are also an ordered sequence.

In many respects are like tuples, one key difference is they are mutable.

In [12]:
l = ['Alex Turner', 10.1, 1975, [1,2], ('A', 1)]

We also nest tuples and other data structures; the same indexing conventions apply for nesting.

In [13]:
l[0]

'Alex Turner'

In [19]:
l[3][1]

2

In [20]:
l[-1]

('A', 1)

In [21]:
l[3:5]

[[1, 2], ('A', 1)]

We can also concatenate or combine lists by adding them.

If we apply append instead of extended we add one element to the list.

In [22]:
l.append(['pop', 10])

In [23]:
l

['Alex Turner', 10.1, 1975, [1, 2], ('A', 1), ['pop', 10]]

As lists are mutable, we can change them.

In [25]:
l[0] = ['hard rock', 10, 1.2]

In [26]:
l

[['hard rock', 10, 1.2], 10.1, 1975, [1, 2], ('A', 1), ['pop', 10]]

We can delete an element of a list using the "del" command.

In [27]:
del(l[0])

In [28]:
l

[10.1, 1975, [1, 2], ('A', 1), ['pop', 10]]

We can convert a string to a list using split.

In [30]:
'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character, known as a delimeter.

In [31]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Multiple names referring to the same object is known as aliasing

In [33]:
a = ['hard rock', 10, 3.14, [1,2]]
b = a

If we change the first element in A, the value of B would change as a consequence.

In [35]:
a[0] = 'blues'
b

['blues', 10, 3.14, [1, 2]]

A and B are referencing to the same list, therefore if we change A, list B also changes.

You can clone list A by using the following syntax.

In [36]:
b = a[:]

Variable A references one list. Variable B references a new copy or clone the original list. Now if you change A then B would not change.

In [37]:
a[0] = 'banana'
b

['blues', 10, 3.14, [1, 2]]